<html>
<head>
    {% load static %}
    <title>Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src = "{% static "js/quiz.js" %}"></script>
  </head>
<body>
  <nav class="navbar navbar-light bg-primary d-flex justify-content-between">
    <a class="navbar-brand text-light">Welcome {{user.username}}</a>
    <div>
      <ul class="d-flex list-unstyled ">
        <li class='text-light'><a href="{% url "home" %}" class='text-light'>Home &nbsp;</a></li>
    
        {% if user.is_authenticated %}
        <li class='text-light'><a href="{% url "logout" %}" class='text-light'><span class="glyphicon glyphicon-log-out text-light"></span> &nbsp; Logout  &nbsp;</a></li>
        {% else %}
        <li class='text-light'><a href="{% url "register" %}" class='text-light'><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up  &nbsp;</a></li>
        <li class='text-light'><a href="{% url "login" %}" class='text-light'><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in  &nbsp;</a></li>
        {% endif %}
        <li class="nav-item active">
          {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link text-light" href="{% url 'addQuestion' %}">Add Question</a>
          </li>
          {% endif %} 
     
          </li>
      </ul>

    </div>
  </nav>
    {% block content %}{% endblock %}
</body>
</html>